/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Futura PT";
  src: url("../assets/fonts/FuturaPT-Medium.woff2") format("woff2"), url("../assets/fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #fff;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: #fff;
  text-decoration: none;
}

[class*=__container] {
  max-width: 1640px;
  margin: 0 auto;
}

body {
  background: #110a1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

body > * {
  padding: 0 10px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #478bf9;
  border-radius: 64px;
  padding: 26px 48px;
  margin-top: 16px;
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}
@media (max-width: 1011px) {
  .header__container {
    padding: 6px 10px;
    border-width: 2px;
  }
}
.plug {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 287px;
          flex: 0 1 287px;
}
@media (max-width: 1309px) {
  .plug {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  padding: 8px;
}
.menu__link {
  line-height: 20px;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btns__item {
  border: 2px solid #9dadf2;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  line-height: 20px;
  gap: 8px;
}
@media (max-width: 1011px) {
  .btns__item {
    padding: 6px;
  }
}
.btns__item:last-child {
  border-color: #478bf9;
  background: #478bf9;
}

@media (max-width: 885px) {
  .header__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-top: 10px;
    position: relative;
  }
  .btns {
    gap: 4px;
  }
  .btns__item:not(:first-child) {
    display: none;
  }
  .btns__item span {
    display: none;
  }
  .menu {
    display: none;
  }
  .header__container .burger-menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    background: #110a1d;
    display: flex;
  }
}
.burger-menu {
  display: none;
  top: 62px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 52px);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}
.burger-menu .menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0 0;
  gap: 5px;
}
.burger-menu .menu__item {
  display: block;
  border: 2px solid #478bf9;
  border-radius: 28px;
  padding: 11px 18px;
  font-size: 18px;
  line-height: 24px;
}
.burger-menu > * {
  padding-top: 30px;
}

.burger__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.burger__btn {
  display: block;
  border: 2px solid #9dadf2;
  border-radius: 28px;
  padding: 11px 18px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  background: #1e1231;
}
.burger__btn:last-child {
  background: #478bf9;
  border-color: #478bf9;
}

.burger.burger_opened + .burger-menu {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.burger {
  display: none;
  width: 36px;
  height: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  gap: 3px;
}
@media (max-width: 885px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.burger_opened {
  gap: 5px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
}

.burger .line1 {
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.burger .line2 {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.burger .line3 {
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.burger_opened .line1 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger_opened .line2 {
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
}

.burger_opened .line3 {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.main__container {
  height: 100%;
  padding-bottom: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 669px;
          flex: 0 1 669px;
}
.info__title {
  font-weight: 500;
  font-size: clamp(2.875rem, 7vw, 6rem);
  margin-bottom: 24px;
}
.info__subtitle {
  font-size: clamp(1.625rem, 2.5vw, 2rem);
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: clamp(24px, 3vw, 48px);
}

.highlight {
  color: #478bf9;
}

.btn {
  display: block;
  text-transform: uppercase;
  background: #478bf9;
  border-radius: 48px;
  padding: 15px 0;
  font-size: 18px;
  text-align: center;
  max-width: 393px;
}

.footer {
  padding: 40px 0 24px;
  border: 4px solid #478bf9;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  border-bottom: none;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 1660px;
  padding: 0 10px;
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  line-height: 20px;
}
@media (max-width: 906px) {
  .footer-menu__list {
    gap: 12px;
  }
}
.footer-menu__item:first-child {
  color: #478bf9;
  text-decoration: underline;
}
.footer-menu__item:first-child > .footer-menu__link {
  color: #478bf9;
}
.footer-menu__link {
  cursor: pointer;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  text-align: right;
  line-height: 20px;
}
.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.socials__item {
  width: 27px;
  height: 27px;
}
.socials__link > svg {
  width: 100%;
  height: 100%;
}
.socials__link svg stop {
  stop-color: #478bf9;
}
.socials__link:hover svg stop:last-child {
  stop-color: #9dadf2;
}

stop {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 790px) {
  .footer {
    padding: 20px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
  .socials {
    text-align: left;
  }
}
@media (max-width: 554px) {
  .footer-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    font-size: 14px;
  }
}