@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@font-face {
  font-family: "Futura PT";
  src: url("../assets/fonts/FuturaPT-Medium.woff2") format("woff2"),
    url("../assets/fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

$accent: #478bf9;
$bg: #110a1d;

html {
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

// .test {
//   font-family: "Futura PT", sans-serif;
// }

body {
}

.header {
  // .header__container

  &__container {
  }

  // .header__btns

  &__btns {
  }
}
.plug {
}
.menu {
  // .menu__list

  &__list {
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
  }
}
.buger-menu {
}
.btns {
  // .btns__item

  &__item {
    // .btns__item_local

    &_local {
    }
  }
}
.main {
}
.info {
  // .info__title

  &__title {
  }

  // .info__subtitle

  &__subtitle {
  }
}
.highlight {
}
.btn {
}
.icons {
  // .icons__row

  &__row {
  }
}
.blog {
  // .blog__title

  &__title {
  }

  // .blog__wrapper

  &__wrapper {
  }

  // .blog__item

  &__item {
  }
}
.item-blog {
  // .item-blog__title

  &__title {
  }

  // .item-blog__date

  &__date {
  }
}
.footer {
  // .footer__container

  &__container {
  }
}
.footer-menu {
  // .footer-menu__list

  &__list {
  }

  // .footer-menu__item

  &__item {
  }

  // .footer-menu__link

  &__link {
  }
}
.socials {
  // .socials__list

  &__list {
  }

  // .socials__item

  &__item {
  }

  // .socials__link

  &__link {
  }
}
