@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@font-face {
  font-family: "Futura PT";
  src: url("../assets/fonts/FuturaPT-Medium.woff2") format("woff2"),
    url("../assets/fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

$accent: #478bf9;
$bg: #110a1d;

html {
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #fff;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: #fff;
  text-decoration: none;
}

[class*="__container"] {
  max-width: 1640px;
  margin: 0 auto;
}

// .test {
//   font-family: "Futura PT", sans-serif;
// }

body {
  background: $bg;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

body > * {
  padding: 0 10px;
}

.header {
  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid $accent;
    border-radius: 64px;
    padding: 26px 48px;
    margin-top: 16px;
    transition: all 0.15s ease 0s;

    @media (max-width: 1011px) {
      padding: 6px 10px;
      border-width: 2px;
    }
  }

  // .header__btns

  &__btns {
  }
}
.plug {
  display: block;
  flex: 0 1 287px;

  @media (max-width: 1309px) {
    display: none;
  }
}
.menu {
  // .menu__list

  &__list {
    display: flex;
    gap: 32px;
    padding: 8px;
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
    line-height: 20px;
  }
}

.btns {
  // .btns__item
  display: flex;
  gap: 14px;
  align-items: center;

  &__item {
    // .btns__item_local
    border: 2px solid #9dadf2;
    border-radius: 24px;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    line-height: 20px;
    gap: 8px;

    @media (max-width: 1011px) {
      padding: 6px;
    }

    &:last-child {
      border-color: $accent;
      background: $accent;
    }
  }
}

@media (max-width: 885px) {
  .header__container {
    justify-content: end;
    margin-top: 10px;
    position: relative;
  }

  .btns {
    gap: 4px;
  }

  .btns__item:not(:first-child) {
    display: none;
  }

  .btns__item span {
    display: none;
  }

  .menu {
    display: none;
  }

  .header__container .burger-menu {
    position: fixed;
    display: flex;
    z-index: 10;
    background: $bg;
    display: flex;
  }
}

.burger-menu {
  display: none;
  top: 62px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 52px);
  transform: translateX(-100%);
  flex-direction: column;
  padding: 0 10px;
  transition: all 0.3s ease-in-out 0s;

  .menu__list {
    flex-direction: column;
    padding: 30px 0 0;
    gap: 5px;
  }

  .menu__item {
    display: block;
    border: 2px solid $accent;
    border-radius: 28px;
    padding: 11px 18px;
    font-size: 18px;
    line-height: 24px;
  }

  & > * {
    padding-top: 30px;
  }
}

.burger__btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.burger__btn {
  display: block;
  border: 2px solid #9dadf2;
  border-radius: 28px;
  padding: 11px 18px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  background: #1e1231;

  &:last-child {
    background: $accent;
    border-color: $accent;
  }
}

.stop-scroll {
  overflow: hidden;
}

.burger.burger_opened + .burger-menu {
  transform: translateX(0%);
}

.burger {
  display: none;
  width: 36px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  gap: 3px;

  @media (max-width: 885px) {
    display: flex;
  }

  &_opened {
    gap: 5px;
  }
}

.line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
}

.burger .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.burger .line2 {
  transition: transform 0.2s ease-in-out;
}
.burger .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.burger_opened .line1 {
  transform: rotate(45deg);
}
.burger_opened .line2 {
  transform: scaleY(0);
}
.burger_opened .line3 {
  transform: rotate(-45deg);
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  &__container {
    max-height: calc(100vh - 124px - 129px);
    overflow: hidden;
    // padding-bottom: 66px;
    display: flex;
    // justify-content: space-between;
    align-items: center;

    @media (max-width: 1010px) {
      max-height: calc(100vh - 68px - 129px);
    }
  }
}
.info {
  // .info__title
  flex: 0 1 669px;

  &__title {
    font-weight: 500;
    font-size: clamp(46px, 5vw, 96px);
    margin-bottom: 24px;
  }

  // .info__subtitle

  &__subtitle {
    font-size: clamp(20px, 1.67vw, 32px);
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: clamp(24px, 3vw, 48px);
  }
}
.highlight {
  color: $accent;
}
.btn {
  display: block;
  text-transform: uppercase;
  background: $accent;
  border-radius: 48px;
  padding: 15px 0;
  font-size: 18px;
  text-align: center;
  max-width: 393px;
}
.icons {
  // .icons__row
  height: 100%;
  display: flex;
  gap: clamp(8px, 0.85vw, 16px);
  margin-left: 42px;
  margin-right: auto;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 26%;
    width: 100%;
    height: calc(100vh - 124px - 129px);
    background: rgb(17, 10, 29);
    background: linear-gradient(
      0deg,
      rgba(17, 10, 29, 1) 0%,
      rgba(17, 10, 29, 1) 10%,
      rgba(255, 255, 255, 0) 100%
    );

    @media (max-width: 1010px) {
      height: calc(100vh - 68px - 129px);
    }
  }

  &__row {
    width: clamp(50px, 5.5vw, 99px);
    display: flex;
    flex-direction: column;
    gap: clamp(14px, 1.9vw, 36px);
    animation: 10s linear 1s infinite alternate slidein;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: calc(100% + 2px);
      height: 100%;
      background: rgba(17, 10, 29, 0.3);
      z-index: 1;
      position: absolute;
      top: 0;
      left: -1px;
    }

    &:nth-child(odd) {
      animation: 10s linear 1s infinite alternate slideinReverse;
    }
  }

  &__item {
    width: clamp(50px, 5.5vw, 99px);
    height: clamp(50px, 5.5vw, 99px);

    & > svg {
      width: 100%;
      height: 100%;
    }

    &_large {
      height: clamp(110px, 14vw, 220px);
      width: clamp(50px, 5.5vw, 99px);
      border: 4px solid $accent;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border-radius: 50px;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: clamp(50px, 5.5vw, 99px);
        height: clamp(50px, 5.5vw, 99px);
        border: 4px solid $accent;
        border-radius: 50%;
        top: -4px;
        left: -4px;
        background: url("../assets/icons/world.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 88%;
      }
    }
  }
}

.icons__row:first-of-type {
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 100%;
    background: rgba(17, 10, 29, 0.65);
    z-index: 1;
    position: absolute;
    top: 0;
    left: -1px;
  }

  & > .icons__item_large::before {
    background-image: url("../assets/icons/dollar.svg");
  }
}

.icons__row:nth-of-type(2) {
  .icons__item_m svg path {
    fill: #fff;
  }

  .icons__item_large {
    &::before {
      background-size: cover;
    }
  }
}

.icons__row:last-of-type {
  &::before {
    background: rgba(17, 10, 29, 0.45);
  }

  .icons__item_soccer svg path {
    fill: #fff;
  }

  .icons__item_m svg path {
    fill: $accent;
  }

  & > .icons__item_large {
    border-color: #fff;
  }

  & > .icons__item_large::before {
    background-image: url("../assets/icons/crown.svg");
    border-color: #fff;
    // background-size: 80px 80px;
  }
}

@keyframes slidein {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(10%);
  }
}

@keyframes slideinReverse {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(-10%);
  }
}

@media (max-width: 1011px) {
  @keyframes slidein {
    from {
      transform: translateY(-3%);
    }
    to {
      transform: translateY(3%);
    }
  }

  @keyframes slideinReverse {
    from {
      transform: translateY(3%);
    }
    to {
      transform: translateY(-3%);
    }
  }
}

.blog {
  // .blog__title
  flex: 0 1 531px;
  margin-left: 16px;
  position: relative;
  z-index: 4;

  &__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  // .blog__wrapper

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: clamp(421px, 56vh, 595px);
    border: 3px solid $accent;
    border-radius: clamp(50px, 6vw, 100px);
    padding: 24px 0 24px 24px;
    background: rgba(255, 255, 255, 0.12);

    .wrapper-plug {
      flex: 0 0 16px;
    }
  }

  &__items {
    overflow-y: auto;
    padding-right: 24px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      margin-top: clamp(36px, 3.3vw, 72px);
      margin-bottom: clamp(36px, 3.3vw, 72px);
      background-color: #fff;
      background: rgba(255, 255, 255, 0.12);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: $accent;
      border-radius: 4px;
    }
  }

  // .blog__item

  &__item {
  }
}

.item-blog {
  // .item-blog__title
  display: block;
  padding: 16px;
  padding-right: clamp(36px, 3.4vw, 64px);
  padding-left: clamp(36px, 3.4vw, 64px);
  border-radius: clamp(40px, 5vw, 196px);
  font-size: clamp(16px, 1.3vw, 24px);
  line-height: 28px;
  background: #1e1231;

  & + & {
    margin-top: 16px;
  }

  &:first-child {
    background: $accent;
  }

  &__title {
    margin-bottom: 1px;
  }

  // .item-blog__date

  &__date {
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer {
  // .footer__container
  padding: 40px 0 24px;
  border: 4px solid $accent;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  border-bottom: none;
  background: #1e1231;
  position: relative;
  z-index: 4;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1660px;
    padding: 0 10px;
  }
}
.footer-menu {
  // .footer-menu__list

  &__list {
    display: flex;
    gap: 40px;
    line-height: 20px;

    @media (max-width: 906px) {
      gap: 12px;
    }
  }

  // .footer-menu__item

  &__item {
    &:first-child {
      color: $accent;
      text-decoration: underline;

      & > .footer-menu__link {
        color: $accent;
      }
    }
  }

  // .footer-menu__link

  &__link {
    cursor: pointer;
  }
}
.socials {
  // .socials__list
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: right;
  line-height: 20px;
  position: relative;
  z-index: 4;

  &__list {
    display: flex;
    gap: 8px;
  }

  // .socials__item

  &__item {
    width: 27px;
    height: 27px;

    // &:hover > svg > stop:last-child {
    //   stop-color: #9dadf2;
    // }
  }

  // .socials__link
  &__link {
    & > svg {
      width: 100%;
      height: 100%;
    }

    svg stop {
      // transform: scale(1.1);
      stop-color: $accent;
    }

    &:hover {
      svg stop:last-child {
        stop-color: #9dadf2;
      }
    }
  }
}

stop {
  transition: all 0.3s ease 0s;
}

@media (max-width: 790px) {
  .footer {
    padding: 20px;
  }

  .footer__container {
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: flex-start;
    padding: 0;
  }

  .socials {
    text-align: left;
  }
}

@media (max-width: 554px) {
  .footer-menu__list {
    flex-direction: column;
    gap: 0;
    font-size: 14px;
  }
}

.dot-light {
  position: absolute;
  right: 0px;
  bottom: 12px;
  width: 574px;
  aspect-ratio: 1/1;
  z-index: 2;
  transform: translateX(150px);
  pointer-events: none;

  img {
    width: 100%;
    filter: blur(100px) brightness(0.5);
  }
}

.light {
  position: absolute;
  top: 150px;
  transform: translateX(-300px);
  z-index: 2;

  img {
    width: 100%;
    filter: blur(100px) brightness(0.5);
  }
}

@media (max-width: 730px) {
  .main__container {
    max-height: fit-content;
    flex-direction: column;
    margin: 0;
  }

  .info {
    flex: 0 1 content;
    margin-top: 60px;
    margin-bottom: 32px;

    &__title,
    &__subtitle {
      text-align: center;
    }

    .btn {
      max-width: 100%;
    }
  }

  .icons {
    flex-direction: column;
    width: 100%;
    margin: 0;

    &::before {
      display: none;
    }

    &__row {
      flex-direction: row;

      animation: 5s linear 1s infinite alternate slidein;

      &:nth-child(odd) {
        animation: 5s linear 1s infinite alternate slideinReverse;
      }

      &::before {
        width: 100vw;
      }
    }

    &__item {
      flex: 0 0 clamp(50px, 5.5vw, 99px);
    }

    &__item_large {
      flex: 0 0 clamp(110px, 14vw, 220px);
      height: clamp(50px, 5.5vw, 99px);
    }
  }

  @keyframes slidein {
    from {
      transform: translateX(-30%);
    }
    to {
      transform: translateX(30%);
    }
  }

  @keyframes slideinReverse {
    from {
      transform: translateX(30%);
    }
    to {
      transform: translateX(-30%);
    }
  }

  .blog {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 120px;
  }

  .light {
    width: 360px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    img {
      filter: blur(50px);
    }
  }
}
